:root {
    --main-font: 'Roboto', sans-serif;
   --secondary-font: 'Raleway', sans-serif;
   --main-text-color-dark: color: #212121;
    --main-text-color-light: color: #757575;
    --alt-color: #2196F3;    
    /*--main-text-color-theme-light: #303030;
    --secondary-text-color-theme-light: #555555;
    --accent-color: #ff6c00;*/
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color-dark);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.suptitle-theme {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
}
/* ================= HEADER ================= */

.site-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color-dark);
}
.current {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /*color: #2196F3;*/
    color: var(--alt-color) ;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color-dark);
}
.menu-link:hover,
.menu-link:focus {
    /*color: #2196F3;*/
    color: var(--alt-color);
}
.contact-top-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    /*color: var(--main-text-color-light);*/
}
.contact-top-link:hover,
.contact-top-link:focus {
    color: var(--alt-color);
    /*color: #2196F3;*/
}
/* ================= HEADER ================= */
/* ================= HERO ================= */
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    /*color: #FFFFFF;*/

}
.main-btn {
font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
   /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;*/
}

/* ================= HERO ================= */
/* ================= ADVANTAGES ================= */
.advantages-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.advantages-list-content {
/*font-weight: 400;*/
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-text-color-light);
/*color: #757575;*/
}
/* ================= ADVANTAGES ================= */
/* ================= ABOUT ================= */
.works-list {
    display: flex;
}
/* ================= ABOUT ================= */
/* ================= TEAM ================= */
.team-list {
    display: flex;
    justify-content: center;
    }
.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;

}
.team-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.team-list-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    /*color: var(--main-text-color-light);*/
    color: #757575;
    
}
.team {
    /*position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;*/
    
    background: #F5F4FA;
}
/* ================= TEAM ================= */
/* ================= FOOTER ================= */
.contact-info-list-link{
     font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.contact-info-list-link:hover,
.contact-info-list-link:focus {
     /*color: #2196F3;*/
    color: var(--alt-color);
}
.footer {
    background: #2F303A;
}
/* ================= FOOTER ================= */
/* ================= FILTER ================= */
.filter-btn {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    width: 130px;
    height: 38px;
    border-radius: 4px;
    cursor: pointer;
    }
.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background: #2196F3;
}
/* ================= FILTER ================= */
/* ================= CARDS================= */
.site-list  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.site-list-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.site-list-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.site-list-link {
    text-decoration: none;
    list-style: none;
    
    
}
.site-list-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    /*color: var(--main-text-color-light);*/
    color: #757575;

}
/* ================= CARDS================= */